# Backend Variables (Server-Side)
# These MUST remain private. Never expose to the browser.

# Database
DATABASE_URL="postgres://..."

# Auth
NEXTAUTH_SECRET="tu_secret_super_seguro"
NEXTAUTH_URL="http://localhost:3000"

# Push Notifications (VAPID)
# Public key is also needed here for configuration context usually, or just private
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BFjA6kYo1Tvdcv2OjW3fUyjiA5s_uuZQJPtS1qPHbuJyzDrjylFM836LVHEKf1RXezn-Jfyicv90YFn4fmVzKms
VAPID_PRIVATE_KEY=lrdmCrAFGzNr3woVv3K9-Nr6oLOt7N3DBJFzCzhCQLI

# External Services (Legacy/Optional)
TWILIO_ACCOUNT_SID=...
TWILIO_AUTH_TOKEN=...
TWILIO_PHONE_NUMBER=...
RESEND_API_KEY=...
